@import 'variables';
@import 'mixins';

.page {
  .wp-block-eedee-block-gutenslider {
    .wp-block-eedee-block-gutenslide {

      .slide-content {
        padding-top: 45%;
        padding-bottom: 100px;
        justify-content: space-between;

        h2 {
          width: 100%;
          font-size: 30px;
          font-weight: bold;
          line-height: 1.6;
          color: $text-white;
          position: relative;
          z-index: 5;
          word-wrap: break-word;


          @include breakpoint-md {
            font-size: 64px;
            width: 58vw;
          }
        }

        .wp-block-button {
          margin-bottom: 0;
        }
      }
    }
  }
}

@include breakpoint-md {

  .page {
    .wp-block-eedee-block-gutenslider {
      .wp-block-eedee-block-gutenslide {

        .slide-content {
          padding-top: 60px;
          padding-bottom: 60px;
          justify-content: center;
        }
      }
    }
  }
}

@include breakpoint-lg {
  .page {
    .wp-block-eedee-block-gutenslider {
      .wp-block-eedee-block-gutenslide {

        .slide-content {
          padding-top: 70px;
          padding-bottom: 70px;
          justify-content: center;
        }
      }
    }
  }
}