@import 'variables';
@import 'mixins';


.slide-content {
  h2 {
    width: 58vw;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.6;
    color: $text-white;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    z-index: 5;
  }
}

/*
.front {

  &__triangle {
    margin-top: 100px;
    width: 100vw;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &:before {
      content: '';
      display: block;
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: -200px;
      left: -160px;
      width: 150vw;
      height: 515px;
      transform: rotate(-12deg);
      overflow: hidden;
      z-index: 3;
    }
  }

  &__title-wrapper {
    @include page-container;
    z-index: 2;
    position: relative;
  }

  &__title {
    width: 58vw;
    z-index: 3;
    font-family: OpenSans;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.6;
    color: $text-black;
  }

  &__button {
    @include btn-green;
    position: relative;

    .dashicons-arrow-right-alt2 {
      height: 20px;
      width: 20px;
      position: absolute;
      right: 16px;
      top: 16px;
    }
    
  }
}
*/