@import 'variables';
@import 'mixins';

.page {
  .wp-block-eedee-block-gutenslider {
    .wp-block-eedee-block-gutenslide {

      .slide-content {
        padding-top: 45%;
        padding-bottom: 100px;
        justify-content: space-between;

        h2 {
          width: 100%;
          font-size: 30px;
          font-weight: bold;
          line-height: 1.6;
          color: $text-white;
          position: relative;
          z-index: 5;
          word-wrap: break-word;
        }

        .wp-block-button {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    .wp-block-eedee-block-gutenslider {
      &.dot-style-1 .slick-dots {
        display: none !important;
      }
    }
  }
}

@include breakpoint-md {

  .page {
    .wp-block-eedee-block-gutenslider {
      &.dot-style-1 .slick-dots {
        display: block;
        bottom: 64px;
      }

      .slick-slider.slick-dotted {
        margin-bottom: 0;
      }

      .wp-block-eedee-block-gutenslide {

        .slide-content {
          padding-top: 60px;
          padding-bottom: 60px;
          justify-content: center;

          h2 {
            font-size: 64px;
            width: 60vw;
          }
        }
      }
    }
  }
}

@include breakpoint-lg {
  .page {
    .wp-block-eedee-block-gutenslider {
      .wp-block-eedee-block-gutenslide {

        .slide-content {
          padding-top: 70px;
          padding-bottom: 70px;
          justify-content: center;
        }
      }
    }
  }
}