$text-black: #000;
$text-light-black: #3e403c;
$text-white: #fff;
$green: #88e725;
$green-darker: #7bcf21;
$grey: #f2f2f2;

$font-open-sans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;
